html{
background-image: url("./images/backg5.jpg");
background-color: #09466F;
background-size: cover;
background-repeat: no-repeat;

}
.container{
    margin:auto;
    width: 100%;
    height: 500px;
    color: white;
}
/*.headercon{
    width: 500px;
    height: 100px;  
}*/
#logo{
    width: 50%;
    height: 100px;
    background:url("./images/v3.jpg") no-repeat center;
    background-size: 200px 100px;
    background-color: black;
    float: left
}
#headright{
    width: 50%;
    height:100px;
    background-color: gray;
    float: right;
    font-family: Arial;
}
#flasharea{
    width: 100%;
    height: 450px;
    background-color: #FFA500;
    float: left;
}
#navi_inside{
    width: 100%;
    height: 150px;
    background-color: whitesmoke;
    float: left;
    text-decoration: none;
}
}
#navi_inside  li a{
    text-decoration: none;
}
#navi_inside ul li a:hover{
    text-decoration: none;
    color:white;
    text-transform: none; 
}
#navi_inside ul li a{
    color:black;
    text-decoration-line: none;
}
li{
    display: inline-block;
    padding: 0 40px;
    margin-top: 13px;
    color: black;
    text-decoration: none;
}
.contact-box {
	background: black;
	height: auto;
}
.contact-left {
	background-color: white;
	color: black;
	float: left;
	width: 100%;
	height: 310px;
	overflow: scroll;
}
.contact-right {
	background: lightblue;
	float: right;
	width: 100%;
	color: black;
}
.contact-left h3{
	color: #1c00b5;
	margin: 0;
}
.contact-right h3{
	color: #1c00b5;
	margin: 0;
}
 @media only screen and (min-width:0px) and (max-width:320px){
 	table{
 		margin: auto;
 		font-size: 95%;
 	}
 	.contact-right h3{
 		margin: auto;
 	}
 	#headright p{
 		font-size: 60%;
 		margin: 5% 0 0 0;
 	}
 	#headright label{
 		font-size: 85%;
 	}
 	.contact-right{
 		height: 170px;
 	}
 	#navi_inside{
 		height: auto;
 	}
 }
 @media only screen and (min-width:330px) and (max-width:375px){
 	#navi_inside{
 		height: auto;
 	}
 	#headright p{
 		font-size: 80%;
 		margin: 0;
 	}
 }
 @media only screen and (min-width:380px) and (max-width:425px){
 	#navi_inside{
 		height: auto;
 	}
 	#headright p{
 		font-size: 90%;
 		margin: 0;
 	}
 }
 @media only screen and (min-width:430px) and (max-width:768px){
 	#navi_inside{
 		height: 160px;
 	}
 	#headright p{
 		font-size: 115%;
 		margin: 0;
 	}
 }