html{
    background-image: url("./images/backg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.container{
    margin:auto;
    border: 1px solid #F0F8FF;
    width: 100%;
    color: white;
}
.headercon{
    width: 500px;
    height: 100px;  
}
#logo{
    width: 50%;
    height: 100px;
    background:url("./images/lg1.jpg") no-repeat center;
    background-size: 200px 100px;
    background-color: black;
    float: left;
}
#headright{
    width: 50%;
    height:100px;
    background-color: gray;
    float: right;
}
#flasharea{
    width: auto;
    height: 450px;
    background-color: #FFA500;
    float: left;
}
#content{
    width: 100%;
    height: 105px;
    background-color: gray;
    float: left;
    font-family: verdana;
}
#footer{
    width: 100%;
    height: 130px;
    background-color: #00FA9A;
    float: middle;
}
#navi_inside{
    width: 100%;
    height: 50px;
    background-color: transparent;
    float: left;
    text-decoration: none;
}
#navi_inside  li{
    margin: 0 3% 0 3%;    
}
#navi_inside  li a{
    text-decoration: none;
}
#navi_inside ul li a:hover{
    text-decoration: none;
    color:skyblue;
    text-transform: none; 
}
#navi_inside ul li a{
    color:white;
    text-decoration-line: none;
}
li{
    display: inline-block;
    padding: 0 40px;
    margin-top: 13px;
    color: black;
    text-decoration: none;
}
/*FLASH / MOVING IMAGES SECTION*/
.shit{ /*FLASHING IMAGES DIVISION*/
    width: 100%;
    height: 390px;
    position: relative;
    overflow: hidden;
    float: left;
}
@keyframes slider{ /*THE CONFIGURATION OF THE RESPONSIVE SLIDESHOW*/
    0% { left: 0%; }
    30% { left: 0%; }
    33% { left: -100%; }
    63% { left: -100%; }
    66% { left: -200%; }
    95% { left: -200%; }
    100% { left: 0%; }
}
figure{ /*SET A RESPONSIVE SLIDESHOW ON A GROUP OF IMAGES*/
    width:300%;
    position: relative;
    animation: 5s slider infinite;
    display: block;
    margin-inline-start: 0px;
}
.slideshow{ /*ALIGNMENT & SIZING OF AN IMAGE*/
    margin: -1% -3% -2.6% 0%;
    width: 36.33%;
    height: 420px;
    float: left;
    object-fit: fill;
}
#midbox1{
    width: 100%;
}
.midbox1, .midbox3{
    width: auto;
}
.midbox2{
    width: 90%;
}
#slideshow{ /*ALIGNMENT & SIZING OF AN IMAGE 3 IMAGE*/
    margin: -1% -3% -2.6% 0%;
    width: 36.33%;
    height: 250px;
    float: left;
    object-fit: fill;
}