@media only screen and (min-width:0px) and (max-width:320px){
    html{
        background-size: cover;
    }
    #content p{
        font-size: 11px;
    }
    #navi_inside{
        float: left;
    }
    #navi_inside li{
        font-size: 9px;
        margin: 0 -2% 0 -24%;
    }
    #div1{
        margin: 85% 0 0 -97%;
        width: 36%;
        height: 200px;
        overflow-y: scroll;
        float: left;
    }
    #div2{
        width: 28%;
        margin: 2% 0 0 36%;
        float: left;
        height: 200px;
        overflow-x: scroll;
    }
    #div3{
        margin: -69% 0 0 64%;
        height: 200px;
        width: 36%;
        overflow-y: scroll;
    }
    div[name=align]{
        margin: -15% 0 0 0;
    }
}
@media only screen and (min-width:330px) and (max-width:375px){
    html{
        background-size: cover;
    }
    #content p{
        font-size: 11px;
    }
    #navi_inside{
        float: left;
    }
    #navi_inside li{
        font-size: 16px;
        margin: 0 -2% 0 -24%;
    }
    #div1{
        margin: 71% 0 0 -97%;
        width: 36%;
        height: 200px;
        overflow-y: scroll;
        float: left;
    }
    #div2{
        width: 28%;
        margin: 2% 0 0 36%;
        float: left;
        height: 200px;
        overflow-x: scroll;
    }
    #div3{
        margin: -58% 0 0 64%;
        height: 200px;
        width: 36%;
        overflow-y: scroll;
    }
    .div1{
        margin: 0 0 0 0;
    }
}
@media only screen and (min-width:380px) and (max-width:425px){
    html{
        background-size: cover;
    }
    #content p{
        font-size: 11px;
    }
    #navi_inside{
        float: left;
    }
    #navi_inside li{
        font-size: 16px;
        margin: 0 -3% 0 -17%;
    }
    #div1{
        margin: 62% 0 0 -97%;
        width: 36%;
        height: 200px;
        overflow-y: scroll;
        float: left;
    }
    #div2{
        width: 28%;
        margin: 2% 0 0 36%;
        float: left;
        height: 200px;
        overflow-x: scroll;
    }
    #div3{
        margin: -51% 0 0 64%;
        height: 200px;
        width: 36%;
        overflow-y: scroll;
    }
}
@media only screen and (min-width:430px) and (max-width:768px){
    #content p{
        font-size: 14px;
    }
    #navi_inside{
        float: left;
    }
    #navi_inside li{
        font-size: 16px;
        margin: 0 5% 0 -5%;
    }
    #div1{
        margin: 33% 0 0 -97%;
        width: 37%;
        height: 200px;
        float: left;
    }
    #div2{
        width: 28%;
        margin: 2.3% 0 0 36.9%;
        float: left;
        height: 200px;
    }
    #div3{
        margin: -27.1% 0 0 64%;
        height: 200px;
        width: 36%;
    }
}